mixin portfolio(name,filter,type)
  figure.projects__item(class=filter)
    img(src="images/portfolio/"+name+".jpg", alt=name)
    figcaption.projects__info
      .projects__name=name
      .projects__text #{type} #{name}
      .projects__btn 
        a.btn.btn-primary(href="") ПОДРОБНЕЕ 

mixin portfolio-hide(name,filter,type)
  figure.projects__item(class=filter, style="display:none")
    img(src="images/portfolio/"+name+".jpg", alt=name)
    figcaption.projects__info
      .projects__name=name
      .projects__text #{type} #{name}
      .projects__btn 
        a.btn.btn-primary(href="") ПОДРОБНЕЕ 


extends template2
block content
  main.projects
    +banner('НАШИ ПРОЕКТЫ','в нашей копилке более 500+ работ','Проекты','default','projects')
    section.projects__content
      .container
        .sort
          .sort__pagin
            .sort__btn.wow.bounceIn.active(data-filter=".projects__item")
              span Все работы
            .sort__btn.wow.bounceIn(data-wow-delay="0s",data-filter=".js-site") 
              span Сайты
            .sort__btn.wow.bounceIn(data-wow-delay="0.25s",data-filter=".js-style") 
              span Фирменный стиль
            .sort__btn.wow.bounceIn(data-wow-delay="0.5s",data-filter=".js-app") 
              span Мобильные приложения
            .sort__btn.wow.bounceIn(data-wow-delay="0.75s",data-filter=".js-other") 
              span Другое
             
        .projects__wrap.clearfix
          .projects__sizer

          +portfolio('concordia','_big js-site js-other','Сайт')

          +portfolio('mele','js-app','Мобильное приложение')
          +portfolio('trest','js-site','Сайт')
          +portfolio('ecoboo','js-site','Сайт') 
          +portfolio('stiville','js-site js-other','Сайт')

          +portfolio('easygift','js-app','Мобильное приложение')
          +portfolio('study','js-site','Сайт')
          +portfolio('osa','js-style','Фирменный стиль')
          +portfolio('krasa-volos','js-site js-other','Сайт')  

          +portfolio('fitnes','js-app','Мобильное приложение')       
          +portfolio('svariok','js-site','Сайт')

          +portfolio('taxi','_big js-app','Мобильное приложение')

          +portfolio('montana','js-style','Фирменный стиль')
          +portfolio('glavprokat','js-site js-other','Сайт')


          +portfolio('medinterplast','js-site','Сайт')
          +portfolio('fermer','js-style js-other','Фирменный стиль')
          +portfolio('belatmit','js-site','Сайт')
          +portfolio('krum','js-app','Мобильное приложение')


          +portfolio-hide('manidoro','_big js-site','Сайт')

          +portfolio-hide('alter','js-style','Фирменный стиль')
          +portfolio-hide('matem','js-site','Сайт')
          +portfolio-hide('minsk','js-app js-other','Мобильное приложение')
          +portfolio-hide('project17','js-site','Сайт')

          +portfolio-hide('tomografia','js-style','Фирменный стиль')
          +portfolio-hide('foxstyle','js-site','Сайт')
          +portfolio-hide('gulbe','js-app js-other','Мобильное приложение')
          +portfolio-hide('badura','js-site','Сайт')

          +portfolio-hide('baramia','js-style','Фирменный стиль')
          +portfolio-hide('concordia-lv','js-site','Сайт')

          +portfolio-hide('protege','_big js-site','Сайт') 

          +portfolio-hide('4metri','js-site','Сайт')
          +portfolio-hide('sharkutier','js-style','Фирменный стиль')

  

          +portfolio-hide('bartek','js-site','Сайт')
          +portfolio-hide('forma','js-style','Фирменный стиль')
          +portfolio-hide('happy-toys','js-site','Сайт')
          +portfolio-hide('woodbood','js-site','Сайт')
     


        .projects__btn 
          .btn.btn-primary(href="") ПОКАЗАТЬ ЕЩЕ... 



















