mixin portfolio(name,filter,type)
  figure.projects__item._big(class=filter)
    img(src="images/portfolio/"+name+".jpg", alt=name)
    figcaption.projects__info
      .projects__name=name
      .projects__text #{type} #{name}
      .projects__btn 
        a.btn.btn-primary(href="") ПОДРОБНЕЕ 

extends template2
block content
  main.projects
    +banner('НАШИ ПРОЕКТЫ','в нашей копилке более 500+ работ','Проекты','default','projects')
    section.projects__content
      .container
        .sort
          .sort__pagin
            .sort__btn.wow.bounceIn.active(data-filter=".projects__item")
              span Все работы
            .sort__btn.wow.bounceIn(data-wow-delay="0s",data-filter=".js-site") 
              span Сайты
            .sort__btn.wow.bounceIn(data-wow-delay="0.25s",data-filter=".js-style") 
              span Фирменный стиль
            .sort__btn.wow.bounceIn(data-wow-delay="0.5s",data-filter=".js-app") 
              span Мобильные приложения
            .sort__btn.wow.bounceIn(data-wow-delay="0.75s",data-filter=".js-other") 
              span Другое
             
        .projects__wrap.clearfix
          .projects__sizer

          +portfolio('concordia','js-site','Сайт')
          +portfolio('trest','js-site','Сайт')
          +portfolio('stiville','js-site','Сайт')
          +portfolio('study','js-site','Сайт')
          +portfolio('krasa-volos','js-site','Сайт')
          +portfolio('svariok','js-site','Сайт')
          +portfolio('glavprokat','js-site','Сайт')
          +portfolio('medinterplast','js-site','Сайт')
          +portfolio('belatmit','js-site','Сайт')
          +portfolio('manidoro','js-site','Сайт')
          +portfolio('matem','js-site','Сайт')
          +portfolio('project17','js-site','Сайт')
          +portfolio('foxstyle','js-site','Сайт')
          +portfolio('badura','js-site','Сайт')
          +portfolio('concordia-lv','js-site','Сайт')
          +portfolio('4metri','js-site','Сайт')
          +portfolio('protege','js-site','Сайт')
          +portfolio('bartek','js-site','Сайт')
          +portfolio('happy-toys','js-site','Сайт')
          +portfolio('woodbood','js-site','Сайт')
          +portfolio('ecoboo','js-site','Сайт')

          +portfolio('osa','js-style','Фирменный стиль')
          +portfolio('montana','js-style','Фирменный стиль')
          +portfolio('fermer','js-style','Фирменный стиль')
          +portfolio('alter','js-style','Фирменный стиль')
          +portfolio('tomografia','js-style','Фирменный стиль')
          +portfolio('baramia','js-style','Фирменный стиль')
          +portfolio('sharkutier','js-style','Фирменный стиль')
          +portfolio('forma','js-style','Фирменный стиль')

          +portfolio('mele','js-app','Мобильное приложение')
          +portfolio('easygift','js-app','Мобильное приложение')
          +portfolio('fitnes','js-app','Мобильное приложение')
          +portfolio('taxi','js-app','Мобильное приложение')
          +portfolio('krum','js-app','Мобильное приложение')
          +portfolio('minsk','js-app','Мобильное приложение')
          +portfolio('gulbe','js-app','Мобильное приложение')






          figure.projects__item._big.js-app(style="display:none")
            img(src="images/project11.jpg", alt="project11")
            figcaption.projects__info
              .projects__name project11
              .projects__text сайт project11
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 

        .projects__btn 
          .btn.btn-primary(href="") ПОКАЗАТЬ ЕЩЕ... 



















